{% extends 'dummy.html' %}

{% block title %}
    <title>change_password</title>
{% endblock %}

<body>

{% block body_block %}
    <center>
        <form method="POST">
            {% csrf_token %}
            <label for="password" >old password</label>
            <input type="password" name="password" id="password"><br><br>
            <label for="pw"> new password</label>
            <input type="password" name="pw" id="pw"><br><br>
            
            <input type="submit" value="change_password">

        </form>
    </center>
{% endblock %}
</body>